
		</div>
	</div>

	<div class="footer">
		<div class="article">
			<p>NHN Technology Services</p>
			<em class="icon right"><a href="#"><i class="fa fa-arrow-circle-up"></i></a></em>
		</div>
	</div>

	<div class="dimmed"></div>
	<div class="layer" id="qrCodeLayer">
		<h2 class="title">QR Code</h2>
		<div class="qrcode_area"><div class="inner"></div></div>
		<p class="file_name"></p>
		<em class="close"><i class="fa fa-times-circle"></i></em>
	</div>
	<div class="layer" id="myListLayer">
		<h2 class="title">My List</h2>
		<h3 class="sub_title">Input file name (new line separate)</h3>
		<div class="textbox_area">
			<textarea id="fileNameList"></textarea>
		</div>
		<div class="button_area">
			<button id="highlightExec">Highlight</button>
			<button id="highlightRemove">Remove</button>
		</div>
		<em class="close"><i class="fa fa-times-circle"></i></em>
	</div>

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="/fancy_directory_listings/script.js"></script>

</body>
</html>