@charset "utf-8";
/* The Fancy Directory Listings */
/* Feb. 2016 - Sunsoo */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}

body{
    position: relative;
    font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-serif;
    color:#515153;
}
.header, .footer, .section{
    text-align:center;
}
.header, .footer{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    height: 35px;
    line-height: 35px;
	background:#fafafa;
}
.icon{
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    font-size: 20px;
    color: #fafafa;
    cursor: pointer;
}
.icon a{
    display: block;
    width: 100%;
    height: 100%;
}
.icon .fa{ color: #515153; }
.icon:hover .fa{ color: #2584fc; }
.icon.left{ left: 10px; }
.icon.right{ right: 10px; }

.article{
    position: relative;
    min-width: 320px;
    width: 600px;
    margin: 0 auto;
}
.header{
    top: 0;
	border-bottom:1px solid #eee;
}
.header h1{
    font-size: 13px;
    text-align: center;
}
.section{
    padding: 35px 0;
}
.footer{
    bottom: 0;
    border-top:1px solid #eee;
    font-size: 11px;
}
.header .article, .footer .article{
    height: 100%;
}
.section .article{
    padding: 10px;
    box-sizing: border-box;
}
.dimmed{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.layer{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11002;
    width: 256px;
    height: 358px;
    margin-top: -179px;
    margin-left: -128px;
    border: 1px solid #ddd;
    background: #fff;
}
.layer .title{
    padding: 0 10px;
    margin: 30px 0 20px;
    font-size: 15px;
    text-align: center;
}
.layer .sub_title{
    padding: 0 10px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
}
.layer .qrcode_area{
    width: 150px;
    height: 150px;
    margin: 20px auto;
    background: url("loading.gif") no-repeat 50% 50%;
    background-size: 27px auto;
}
.layer .qrcode_area .inner{
    width: 100%;
    height: 100%;
}
.layer .file_name{
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
}
.layer .textbox_area{
    margin: 0 10px;
}
.layer textarea{
    width: 100%;
    height: 80px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.layer .button_area{
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}
.layer .button_area button{
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f2f2f2;
    font-size: 13px;
    color: #2c2c2c;
    cursor: pointer;
}
.layer .button_area button:hover{
    border-color: #2584fc;
    background: #2584fc;
    color: #fff;
}
.layer .close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
.layer .close:hover{
    color: #2584fc;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 0 1px;
    padding-bottom: 5px;
}
td{
    position: relative;
    padding: 3px;
    border: 1px solid #f2f2f2;
    font-size: 10px;
}
table a{
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f2f2f2;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    color: #2c2c2c;
}
tr:hover td a{
    border-color: #2584fc;
}
tr:hover td a:hover{
    background: #2584fc;
    color: #fff;
}
tr:hover td{
    color: #2584fc;
}
th a{
    padding: 7px 0;
    font-size: 11px;
}
th a:hover{
    background: #ddd;
}
td a{
    padding: 5px;
    word-break: break-all;
}
td a .fa{
    margin-right: 5px;
}
td.include_qrcode .qrcode_icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 3px;
    width: 28px;
    height: 28px;
    margin-top: -12px;
    font-size: 28px;
    color: #2c2c2c;
    cursor: pointer;
}
td.include_qrcode .qrcode_icon:hover{
    color: #2584fc;
}
td.include_qrcode a{
    margin-left: 28px;
}
hr{ display: none; }

a.directory{
    background: #84dafc;
    border: 1px solid #58bce8;
    color: #2584fc;
}
a.markup_file:visited{
    color: #ff00a9;
}
a.highlight{
    border: 1px solid #ff0070;
    background: #ff0070;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {

    .article{
        width: 100%;
    }

}